<div class="row">
    <div class="col text-right">
      <button 
      routerLink="/departamentoCrear"
      class="btn btn-primary">
        <i class="fa fa-plus"> Agregar</i>
      </button>
    </div>
  </div>

  <table class="table mt-3 animated fadeIn faster">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let depto of departamentos">
            <td>
                {{depto.Nombre}}
            </td>
            <button class="btn btn-info mr-1"
        [routerLink]="['/empleadoEditar', depto.Id]">
          <i class="fa fa-pencil"></i>  
        </button>
        <button (click)="borrarDepartamento(depto)" class="btn btn-danger mr-1">
          <i class="fa fa-trash"></i>  
        </button>
        <button [routerLink]="['/departamentoDetalle',depto.Id]" class="btn btn-info">
          <i class="fa fa-eye"></i>  
        </button>
        </tr>
    </tbody>
  </table>
